.submit-btn {
  padding: 10px 32px;
  background: $txt-blue;
  color: $txt-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    background-color: $submit-btn-hover;
  }
}

.submit-form-btn {
  padding: 10px 55px;
}

.submit-btn--svg {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
}

.btn {
  background: $backgound-grey;
  color: $txt-black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    background: $txt-blue;
    color: $txt-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.burger-menu-btn {
  position: absolute;
  right: 23px;
  top: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $txt-blue;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.burger-menu-svg {
  width: 24px;
  height: 16px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
