.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  color: $txt-black;

  &--accent {
    color: $txt-white;
  }
}

.half-logo {
  color: $txt-blue;
  font-weight: 700;
}

.list-of-socail-webs {
  display: flex;
  justify-content: space-between;
}

.item-of-socail-webs {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-webs-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent {
    background: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $txt-blue;
  }
}

.icon-social-web {
  width: 20px;
  height: 20px;
  fill: $grey-for-icons;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent {
    fill: $txt-white;
  }
}

.social-webs-link:hover .icon-social-web,
.social-webs-link:active .icon-social-web,
.social-webs-link:focus .icon-social-web {
  fill: $txt-white;
}

.submit-btn {
  padding: 10px 32px;
  background: $txt-blue;
  color: $txt-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    background-color: $submit-btn-hover;
  }
}

.submit-form-btn {
  padding: 10px 55px;
}

.submit-btn--svg {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
}

.btn {
  background: $backgound-grey;
  color: $txt-black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    background: $txt-blue;
    color: $txt-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.common-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
