.footer {
  background-color: $background-dark;
  padding: 60px 0;
}

.footer-container {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__info-container {
  @media screen and (min-width: 768px) {
    display: inline-block;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__adress-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.footer__adress-link {
  font-style: normal;
  line-height: 1.71;
  margin-bottom: 9px;
  color: $txt-white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-bottom: 0;
  }

  &--grey {
    @media screen and (max-width: 1199px) {
      &:last-child {
        margin-bottom: 60px;
      }
    }
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:active,
  &:focus {
    color: $txt-blue;
  }
}

.footer__socials-container {
  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-right: 93px;
  }
}

.footer__heading {
  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $txt-white;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $txt-white;

    @media screen and (max-width: 1199px) {
      justify-content: center;
    }
  }
}

.footer__input-container {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 766px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }
}

.footer__form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__mail-input-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $txt-white;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.footer__input-field {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  color: $txt-white;
  @media screen and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__btn-container {
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    align-self: flex-end;
  }
}

.btn__telegram-plane-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
