.header {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid $borderline;
  overflow: hidden;
}

.header-section {
  display: flex;
  text-align: center;
}

.header-logo-container {
  display: flex;

  @media screen and (max-width: 767px) {
    &--margin {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    &--margin {
      margin-right: 88px;
      margin-top: 26px;
      margin-bottom: 26px;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      &--margin {
        margin-right: 93px;
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }
  }
}

.header-section__list {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    &--reverse {
      display: flex;
      flex-direction: column-reverse;
    }

    &--margin {
      margin-left: 40px;
      margin-top: 48px;
    }

    &--modal {
      margin-left: 40px;
      margin-top: 302px;
    }
  }

  @media screen and (max-width: 767px) {
    &--hidden {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;

    &--tablet {
      display: block;
    }

    &--margin {
      margin-left: auto;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    &--margin {
      margin-left: auto;
    }
  }
}

.header-section__item {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    margin-top: 32px;

    &:last-child {
      margin-right: 0;
    }

    &--tablet {
      margin-right: 0;
      margin-top: 21px;

      &:last-child {
        margin-top: 10px;
        margin-bottom: 21px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    margin-top: 32px;

    &:last-child {
      margin-top: 32px;
    }

    &--tablet {
      margin-right: 30px;
    }
  }
}

.header-section__links {
  display: flex;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $txt-black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 32px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $txt-blue;
  }

  &--modal {
    margin-bottom: 32px;
  }
}

.header-section__links-grey {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $txt-grey;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    color: $txt-blue;
  }

  &:hover .mail-svg,
  &:focus .mail-svg,
  &:hover .phone-svg,
  &:focus .phone-svg {
    fill: $txt-blue;
  }

  &--modal {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: $txt-blue;
  }

  @media screen and (max-width: 767px) {
    &--mail {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: $txt-grey;
    }
  }
}

.mail-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $grey-for-icons;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $grey-for-icons;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section__links.current {
  @media screen and (min-width: 768px) {
    color: $txt-blue;
  }
}

.header__blue-line.current:after {
  @media screen and (min-width: 768px) {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border-bottom: 4px solid $txt-blue;
  }
}
